.scroll {
  max-height: 450px;
  overflow-y: scroll;
}

.css-1dc80h3-MuiTableCell-root {
  padding: 10px !important;
  text-align: left !important;
}

.css-10gia0a-MuiFormControl-root{
    margin: 0px !important;
}

.css-zax20m-MuiFormControl-root{
    margin: 0px !important;
}
